html, body {
  width:100%;
}
* {
  box-sizing: border-box;
}
.container {
  @media (max-width: $break-medium) {
    width:720px;
    margin:0 auto;
  }
  @media (min-width: $break-large) {
    width: 1000px;
    margin:0 auto;
  }
  @media (max-width: $break-small) {
    width:100%;
    padding:0 3%;
    box-sizing:border-box;
    overflow:hidden;
  }
}
