@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
@import "variables";
@import "navigation";
@import "typography";
@import "layout";

body {
  background-color: $backgroundPrimary;
  color: $textColour;
  font-size:62.5%;
  font-family:$mainFont;
}


a {
  color: $textColour;
  font-size: 1.8em;
  text-decoration: none;
}

h1::after{
   content: "|";
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
