$textColour: rgb(252,255,245);
$offsetColour: rgb(209,219,189);
$highlightColour: rgb(145,170,157);
$backgroundSecondary: rgb(62,6,111);
$backgroundPrimary: rgb(25,52,65);


// Fonts

$mainFont: 'Slabo 27px', serif;


// Breakpoints

$break-small: 380px;
$break-large: 1100px;
$break-medium: 720px;
