<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header class="container">
      <h1>// Kevin Coyle //</h1>
      {% block nav %}
      {% endblock %}

      {% block content %}
      {% endblock %}
    </header>
    <script src="js/navigation.js"></script>
  </body>
</html>
