{%extends "../layout.twig"%}
{% block nav %}
  {% include "../components/main_nav.twig" %}
{% endblock %}

{% block content %}
  <h2>CV</h2>
  <section>
    <h3>Profile</h3>
    <p>
      I am an experienced web designer and Acquia certified developer with over 7 years
experience in PHP (vanilla, symfony2 and laravel) and Drupal. I currently am quite
involved in DevOPs with a strong interest in automated testing and continuous integration.
I am a great team player but I also possess the ability to work well independently. 
    </p>
  </section>
{% endblock %}
