{%extends "../layout.twig"%}
{% block nav %}
  {% include "../components/main_nav.twig" %}
{% endblock %}

{% block content %}
  <main>
    <section>
      <h2>Acquia Certified Drupal Web Developer</h2>
      <p>
        I'm Kevin, a Drupal developer based in the north of England. By day I work for large companies helping them with Drupal, Linux, Wordpress and Laravel. In my spare time I also develop websites using Drupal on a freelance basis.
      </p>
      <p>
        I'm hoping to keep an interesting general IT blog (although it will have a bias on web development). I hope that some of the info that I post on there will be useful to you!
      </p>
    </section>
    <section class="work-and-play">
      <section>
        <h3>Latest Work</h3>
      </section>
      <section>
        <h3>Latest Blogs</h3>
        <ul>
          <li><h4>Blog Item</h4><time>20th June 2015</time></li>
          <li><h4>Blog Item</h4><time>20th June 2015</time></li>
          <li><h4>Blog Item</h4><time>20th June 2015</time></li>
        </ul>
      </section>
    </section>
  </main>

{% endblock %}
